@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Categories>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<section name="sub-categories">
@Html.Partial("Header_Footer/show-categories")
</section>
<div class="page-header videos">
    <div class="page-header-overlay with-top-categories">
        <div class="main-content-wrapper">
            <div class="page-title-wrapper">
                <h1 class="page-title" data-ix="fade-in-on-load">Video Recipes</h1>
                <h1 class="page-title subtitle" data-ix="fade-in-on-load-2">All recipes with a video.</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    @Html.Partial("ListAllCategories")


</div>