@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FavoriteRecipes>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}



<section name="sub-categories">
	@Html.Partial("Header_Footer/show-categories")
</section>
<div class="page-header videos">
	<div class="page-header-overlay with-top-categories">
		<div class="main-content-wrapper">
			<div class="page-title-wrapper">
				<h1 class="page-title" data-ix="fade-in-on-load">Video Recipes</h1>
				<h1 class="page-title subtitle" data-ix="fade-in-on-load-2">All recipes with a video.</h1>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="main-content-wrapper">
		<div class="w-dyn-list">
			<div class="w-clearfix w-dyn-items w-row">
				@foreach (Recipe item in Model.Content.FeaturedRecipeList)
				{

					<div class="recipe-item w-col w-col-4 w-dyn-item">
						<a class="recipe-image-block w-inline-block" href="@item.Url" style="background-image: url('@item.RecipeImage.Url');">
							<div class="recipe-overlay-block" data-ix="show-video-overlay-icon">
								<div class="recipe-title-wrapper">
									<div class="recipe-block-info-block w-clearfix">
										<img class="recipe-block-small-icon" src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c7421792be8b00043c9fee_Icon-clock-white.png" width="15">
										<div class="recipe-block-info-title">2 hours 10 minutes</div>
									</div>
									<div class="recipe-title">@item.Header</div>
								</div>
								<div class="recipe-video-overlay-block" data-ix="hide-video-overlay-icon"><img class="overlay-play-icon" src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8496c0f1965960d68c90a_Icon-play-2.png"></div>
							</div>
						</a>
						<a class="recipe-category-link-block w-button"
						   href="/category/appetizers">Appetizers</a>
					</div>
				}
			</div>
		</div>
	</div>
</div>