@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "SiteLayout.cshtml";
}

@* the fun starts here *@

<div class="page-header">
        <div class="home page-header-overlay" id="top">
            <div class="main-content-wrapper">
                <div class="page-title-wrapper">
                    <h1 class="page-title">@Umbraco.Field("pageTitle")</h1>
                    <h1 class="page-title subtitle">@Umbraco.Field("pageTitleSubtitle")</h1></div>
            </div>
        </div>
    </div>