@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	IEnumerable<IPublishedContent> selection = Model.Content.Site().FirstChild("categories")
						.Children("breakfast")
						.Where(x => x.IsVisible()).ToList();
}
@using Umbraco.Web;


<div class="main-content-wrapper">
	<div class="popular-categories-list-wrapper w-dyn-list">
		<div class="category-list w-clearfix w-dyn-items w-row">

			@foreach (Breakfast item in selection)
			{

				<div class="category-item w-col w-col-4 w-dyn-item">
					<a class="category recipe-image-block w-inline-block" href="@item.Url"
					   style="background-image: url('@item.CategoryMainImage.Url');">
						<div class="recipe-overlay-block" data-ix="show-arrow-icon">
							<div class="recipe-title-wrapper">
								<div class="recipe-title">@item.Name</div>
								<div class="recipe-title view-recipes">View All Recipes</div>
								<img class="view-recipes-icon-arrow" data-ix="hide-arrow-icon" 
					src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c870bb8e937d52236dd084_Icon-arrow-right-white.png">
							</div>
						</div>
					</a>
				</div>

			}
		</div>
	</div>
</div>
