@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Model.Content.Site().FirstChild("categories").Children("breakfast").Children()
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
		<h3>Nothing found!</h3>
	}
</ul>

