@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
    <div class="w-container">
        <a class="logo-block w-nav-brand w--current" href="/">
        <img class="logo" sizes="116.65625px" src="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8bea80f1965960d691fc8_Logo.jpg" 
             srcset="http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8bea80f1965960d691fc8_Logo-p-500x172.jpeg 500w, http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8bea80f1965960d691fc8_Logo-p-800x275.jpeg 800w, http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8bea80f1965960d691fc8_Logo.jpg 945w"></a>
        <nav class="nav-menu w-nav-menu" role="navigation">
            <div class="dropdown w-dropdown" data-delay="0" style="max-width: 940px;">
                <div class="dropdown nav-link w-dropdown-toggle">
                    <div>Home</div>
                    <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                    <div class="dropdown-top-block w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                    <a class="dropdown-link w-dropdown-link w--current" href="/">Home (Standard)</a>
                    <a class="dropdown-link w-dropdown-link" href="/home-sidebar">Home (Sidebar)</a>
                </nav>
            </div>
          
            <a class="nav-link recipes w-nav-link" href="/video-recipes-categories" style="max-width: 940px;">Video Recipes</a>
            <a class="favorite nav-link w-nav-link" href="/favorite-recipes" style="max-width: 940px;">Favorites</a>
            <a class="nav-link videos w-nav-link" href="/video-recipes" style="max-width: 940px;">Video Recipes</a>
            <a class="blog nav-link w-nav-link" href="/blog" style="max-width: 940px;">Blog</a>
            <a class="about nav-link w-nav-link" href="/about-us" style="max-width: 940px;">About us</a>
            <a class="contact nav-link w-nav-link" href="/contact-us" style="max-width: 940px;">Contact us</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
</div>