
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master.cshtml";
}

<h2>Thank You.</h2>

<div class="contact page-header">
    <div class="page-header-overlay">
        <div class="main-content-wrapper">
            <div class="page-title-wrapper">
                <h1 class="page-title" data-ix="fade-in-on-load">Thank you.</h1>
                <h1 class="page-title subtitle" data-ix="fade-in-on-load-2">You have been subscribed successfully.</h1>
            </div>
        </div>
    </div>
</div>
