<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT fav_Food ANY>
<!ATTLIST fav_Food id ID #REQUIRED>
<!ELEMENT blogArea ANY>
<!ATTLIST blogArea id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="2316534d-d5fd-421f-9878-ad069ef632f7" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2017-10-20T23:03:21" updateDate="2017-10-21T14:24:30" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1052" nodeTypeAlias="home">
    <bodyText><![CDATA[This is body text]]></bodyText>
    <heading><![CDATA[Welcome to Umbraco Site]]></heading>
    <blog id="1061" key="4a469c58-82e1-4457-9e41-2226eb602b3a" parentID="1054" level="2" creatorID="1" sortOrder="0" createDate="2017-10-22T14:04:59" updateDate="2017-10-22T21:07:07" nodeName="Blog" urlName="blog" path="-1,1054,1061" isDoc="" nodeType="1059" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1052" nodeTypeAlias="blog">
      <bodyText><![CDATA[Blog]]></bodyText>
      <heading><![CDATA[Blog]]></heading>
    </blog>
    <fav_Food id="1064" key="5b2925ec-6c03-4322-8298-d187d685045e" parentID="1054" level="2" creatorID="1" sortOrder="1" createDate="2017-10-22T20:29:57" updateDate="2017-10-22T23:08:36" nodeName="Food" urlName="food" path="-1,1054,1064" isDoc="" nodeType="1063" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1062" nodeTypeAlias="fav_Food">
      <bodyText><![CDATA[This is Favorite Food.]]></bodyText>
      <heading><![CDATA[Favorite Food ]]></heading>
      <food_List><![CDATA[Wada]]></food_List>
      <fav_Food id="1066" key="c13935bc-332f-4ddd-af56-698402d759af" parentID="1064" level="3" creatorID="1" sortOrder="0" createDate="2017-10-22T21:22:35" updateDate="2017-10-22T23:09:35" nodeName="Turkish" urlName="turkish" path="-1,1054,1064,1066" isDoc="" nodeType="1063" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1062" nodeTypeAlias="fav_Food">
        <bodyText><![CDATA[List of Turkish food.]]></bodyText>
        <heading><![CDATA[Turkish Food]]></heading>
        <food_List><![CDATA[Wada,Samosa]]></food_List>
      </fav_Food>
      <fav_Food id="1065" key="dbd1ceae-c531-4e35-845a-e844880efa3a" parentID="1064" level="3" creatorID="1" sortOrder="1" createDate="2017-10-22T21:15:14" updateDate="2017-10-22T23:09:30" nodeName="Chinese" urlName="chinese" path="-1,1054,1064,1065" isDoc="" nodeType="1063" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1062" nodeTypeAlias="fav_Food">
        <bodyText><![CDATA[List of Chinese Items.]]></bodyText>
        <heading><![CDATA[Chinese Items]]></heading>
        <food_List><![CDATA[Samosa]]></food_List>
      </fav_Food>
    </fav_Food>
    <blogArea id="1069" key="23a0e66f-b64a-4d97-afd4-d03a493b3139" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2017-10-22T23:17:42" updateDate="2017-10-22T23:22:21" nodeName="Blog 1" urlName="blog-1" path="-1,1054,1069" isDoc="" nodeType="1068" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1070" nodeTypeAlias="blogArea">
      <blogTitle><![CDATA[Blog 1]]></blogTitle>
      <blogCreationDate>2017-10-22T23:16:35</blogCreationDate>
      <blogContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Blog Headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Hi, This is blog1.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f339bd6f-7499-76e1-9ff2-3bbb602063d2"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "embed"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d0f39b7f-7629-ac10-dc46-ba78c03bfd9f"
        }
      ]
    }
  ]
}]]></blogContent>
    </blogArea>
    <landingPage id="1078" key="7ad201af-4769-4c59-94b5-abb34ff130ba" parentID="1054" level="2" creatorID="1" sortOrder="3" createDate="2017-10-23T19:52:35" updateDate="2017-10-23T20:56:50" nodeName="Advanced Page" urlName="advanced-page" path="-1,1054,1078" isDoc="" nodeType="1077" creatorName="UmbracoSite" writerName="UmbracoSite" writerID="1" template="1076" nodeTypeAlias="landingPage" isDraft="">
      <bodyText><![CDATA[Body]]></bodyText>
      <heading><![CDATA[Heading]]></heading>
      <gridContent><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1079,
                    "udi": "umb://media/6304a410e69841a88cdd2c24e77ce95a",
                    "image": "/media/1002/chrysanthemum.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "1 Column",
          "styles": {},
          "config": {
            "class": "fh5co-page"
          },
          "hasConfig": true,
          "id": "f2a39253-247f-c97f-ece9-736fb195f4b0"
        }
      ]
    }
  ]
}]]></gridContent>
    </landingPage>
  </home>
</root>