<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT search ANY>
<!ATTLIST search id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT landingPage ANY>
<!ATTLIST landingPage id ID #REQUIRED>
<!ELEMENT recipe ANY>
<!ATTLIST recipe id ID #REQUIRED>
<!ELEMENT recipes ANY>
<!ATTLIST recipes id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT breakfast ANY>
<!ATTLIST breakfast id ID #REQUIRED>
<!ELEMENT categoryComposite ANY>
<!ATTLIST categoryComposite id ID #REQUIRED>
<!ELEMENT favoriteRecipes ANY>
<!ATTLIST favoriteRecipes id ID #REQUIRED>
<!ELEMENT promotions ANY>
<!ATTLIST promotions id ID #REQUIRED>
<!ELEMENT rankOne ANY>
<!ATTLIST rankOne id ID #REQUIRED>
]>
<root id="-1">
  <home id="1103" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-23T22:22:22" updateDate="2017-11-01T21:31:06" nodeName="Home" urlName="home" path="-1,1103" isDoc="" nodeType="1093" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1064" nodeTypeAlias="home">
    <colorTheme>37</colorTheme>
    <sitename><![CDATA[Pranali's Kitchen]]></sitename>
    <SiteLogo><![CDATA[umb://media/3c61ad5d937b44cf83ebab43e2623bbb]]></SiteLogo>
    <font>40</font>
    <HeroBackgroundImage><![CDATA[umb://media/3d758b1f24ec47b0a75c225b0444991b]]></HeroBackgroundImage>
    <footerCTACaption><![CDATA[Read All on the Blog]]></footerCTACaption>
    <FooterCtalink><![CDATA[umb://document/1cb33e0a400a49389547b05a35739b8b]]></FooterCtalink>
    <footerAddress><![CDATA[Umbraco HQ - Unicorn Square - Haubergsvej 1 - 5000 Odense C - Denmark - +45 70 26 11 62]]></footerAddress>
    <footerHeader><![CDATA[Umbraco Demo]]></footerHeader>
    <footerDescription><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></footerDescription>
    <heroDescription><![CDATA[Pranali's Kitchen]]></heroDescription>
    <heroHeader><![CDATA[Pranali's Kitech]]></heroHeader>
    <heroCTACaption><![CDATA[Pranali's Kitchen]]></heroCTACaption>
    <HeroCtalink><![CDATA[umb://document/b3683ac050ec490dbd1d36227b136240]]></HeroCtalink>
    <contentPage id="1119" key="d62f0f1d-e4a9-4093-94ae-4efce18872ee" parentID="1103" level="2" creatorID="0" sortOrder="2" createDate="2017-10-23T22:22:23" updateDate="2017-11-01T17:51:15" nodeName="About Us" urlName="about-us" path="-1,1103,1119" isDoc="" nodeType="1098" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1063" nodeTypeAlias="contentPage">
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "quote",
                "embed",
                "macro",
                "media",
                "rte"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1142,
                    "image": "/media/1002/18095416144_44a566a5f4_h.jpg",
                    "caption": "Pranali Shinde"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "styles": null,
                  "config": null,
                  "active": true
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "macro",
                "embed",
                "headline",
                "quote"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>\n<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "ea5aec16-412c-26dc-6649-462288d5ad5d"
        }
      ]
    }
  ]
}]]></bodyText>
      <pageTitle><![CDATA[About Us]]></pageTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <contentPage id="1120" key="2b804661-b071-473b-9604-d9004ff341ab" parentID="1119" level="3" creatorID="0" sortOrder="0" createDate="2017-10-23T22:22:23" updateDate="2017-10-23T22:22:32" nodeName="About this Starter Kit" urlName="about-this-starter-kit" path="-1,1103,1119,1120" isDoc="" nodeType="1098" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1063" nodeTypeAlias="contentPage">
        <bodyText><![CDATA[{"name":"1 column layout","sections":[{"grid":"12","rows":[]}]}]]></bodyText>
        <pageTitle><![CDATA[About this Starter Kit]]></pageTitle>
        <umbracoNavihide>0</umbracoNavihide>
      </contentPage>
      <contentPage id="1121" key="0fcf0fff-f19e-4df9-b3a5-a5fcd2c460ab" parentID="1119" level="3" creatorID="0" sortOrder="1" createDate="2017-10-23T22:22:23" updateDate="2017-10-23T22:22:32" nodeName="Todo list for the Starter Kit" urlName="todo-list-for-the-starter-kit" path="-1,1103,1119,1121" isDoc="" nodeType="1098" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1063" nodeTypeAlias="contentPage">
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "embed",
                "headline",
                "rte",
                "macro"
              ],
              "config": null,
              "styles": null,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Here's what could be improved in the Starter Kit so far:</p>\n<p> </p>\n<p>For v1:</p>\n<ul>\n<li>Use a custom grid editor for testimonials</li>\n<li>Integrated Analytics on pages</li>\n<li>Call To Action Button in the grid (with \"Tag Manager\" integration)</li>\n<li>Macro for fetching products (with friendly grid preview)</li>\n<li>Design Review (polish)</li>\n<li>Verify licenses of photos (Niels)</li>\n</ul>\n<p>For vNext</p>\n<ul>\n<li><span style=\"text-decoration: line-through;\">Swap text with uploaded logo</span></li>\n<li>Nicer pickers of products and employees</li>\n<li>Custom Listview for products and employees</li>\n<li>Discus template on blog posts</li>\n<li>404 template</li>\n<li>Member Login/Register/Profile/Forgot password</li>\n<li>Update default styling of grid header</li>\n<li>On a Blog post -&gt; Share/Social (tweet this / facebook this)</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  },
                  "styles": null,
                  "config": null,
                  "active": true
                }
              ]
            }
          ],
          "styles": null,
          "config": null,
          "hasConfig": false,
          "id": "74647d9c-958f-8877-8e60-03771deeb7d6"
        }
      ]
    }
  ]
}]]></bodyText>
        <pageTitle><![CDATA[Things to improve]]></pageTitle>
        <umbracoNavihide>0</umbracoNavihide>
      </contentPage>
    </contentPage>
    <contact id="1126" key="71a7e71e-7db2-4b9d-a71c-559b11c683c0" parentID="1103" level="2" creatorID="0" sortOrder="4" createDate="2017-10-23T22:22:23" updateDate="2017-10-27T09:32:57" nodeName="Contact" urlName="contact" path="-1,1103,1126" isDoc="" nodeType="1097" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1062" nodeTypeAlias="contact">
      <umbracoNavihide>0</umbracoNavihide>
      <contactForm><![CDATA[adf160f1-39f5-44c0-b01d-9e2da32bf093]]></contactForm>
      <pageTitle><![CDATA[Let's have a chat]]></pageTitle>
      <contactIntro><![CDATA[<p>This is just contact intro.</p>]]></contactIntro>
      <contactFormHeader><![CDATA[Send Us A Message]]></contactFormHeader>
      <mapHeader><![CDATA[You'll find us here]]></mapHeader>
      <map><![CDATA[{
  "zoom": 13,
  "position": {
    "id": "WGS84",
    "datum": "55.406321,10.387015"
  }
}]]></map>
      <apiKey><![CDATA[AIzaSyBSjIm2tkaskXtivVDbvlXcWkP6JDCoqA4]]></apiKey>
    </contact>
    <categories id="1172" key="b3683ac0-50ec-490d-bd1d-36227b136240" parentID="1103" level="2" creatorID="0" sortOrder="7" createDate="2017-10-28T12:19:48" updateDate="2017-11-02T14:34:53" nodeName="Video Recipes Categories" urlName="video-recipes-categories" path="-1,1103,1172" isDoc="" nodeType="1171" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1170" nodeTypeAlias="categories">
      <homePageFeaturedRecipes><![CDATA[umb://document/d14f586735e34546acd603d70ff20630,umb://document/01c9e05465f442b78e62a98be06f1535,umb://document/6314bb292df84f80bcf8573bc416164a]]></homePageFeaturedRecipes>
      <popularCategories><![CDATA[umb://document/979193be4c8b443c962fcd02f7519ccd,umb://document/d1e23e5d4ff640908e885217063991ce,umb://document/ae2f2c2e148441a7b33efb21badfb4c8]]></popularCategories>
      <breakfast id="1176" key="979193be-4c8b-443c-962f-cd02f7519ccd" parentID="1172" level="3" creatorID="0" sortOrder="0" createDate="2017-10-28T12:27:07" updateDate="2017-10-28T16:10:18" nodeName="Breakfast" urlName="breakfast" path="-1,1103,1172,1176" isDoc="" nodeType="1174" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1173" nodeTypeAlias="breakfast">
        <metaTitle><![CDATA[Breakfast]]></metaTitle>
        <metaDescription><![CDATA[Enjoy these amazing recipes!]]></metaDescription>
        <metaTags><![CDATA[breakfast]]></metaTags>
        <categoryName><![CDATA[Breakfast]]></categoryName>
        <categoryDescription><![CDATA[Breakfast]]></categoryDescription>
        <categoryImage><![CDATA[umb://media/44add4d9932146808398b4c5a086d092]]></categoryImage>
        <categoryMainImage><![CDATA[umb://media/44add4d9932146808398b4c5a086d092]]></categoryMainImage>
        <recipe id="1184" key="d14f5867-35e3-4546-acd6-03d70ff20630" parentID="1176" level="4" creatorID="0" sortOrder="0" createDate="2017-10-28T19:42:47" updateDate="2017-11-02T13:48:32" nodeName="Sheera" urlName="sheera" path="-1,1103,1172,1176,1184" isDoc="" nodeType="1161" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1160" nodeTypeAlias="recipe">
          <metaTags><![CDATA[Sheera]]></metaTags>
          <metadata><![CDATA[{
  "title": "Sheera",
  "description": "Sheera",
  "urlName": "",
  "noIndex": false
}]]></metadata>
          <recipeImage><![CDATA[umb://media/ca70e26410eb44208ed853ce239519b6]]></recipeImage>
          <header><![CDATA[Sheera]]></header>
          <headerDescription><![CDATA[Sheera]]></headerDescription>
          <cookingTimeMinutes>20</cookingTimeMinutes>
          <calories>765</calories>
          <videoURL><![CDATA[https://www.youtube.com/watch?v=3QUtVOWmuq8]]></videoURL>
          <ingredients><![CDATA[<ul>
<li><strong>1 pound</strong> boneless pork loin</li>
<li>1 teaspoon cayenne pepper</li>
<li>kosher salt and black pepper</li>
<li>1 cucumber, thinly sliced</li>
<li>3 tablespoons cider vinegar</li>
<li>2 tablespoons olive oil</li>
<li>2 teaspoons brown sugar</li>
<li>1/3 cup mayonnaise</li>
</ul>]]></ingredients>
          <instructions><![CDATA[<p><strong>Step 1. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada ligula non scelerisque pharetra. Aenean id elit at enim posuere ullamcorper at maximus ligula. Nullam iaculis ultricies sodales. Nulla vel magna purus. Fusce non dui et quam mollis convallis. Morbi ultrices leo nec urna dapibus, ac egestas turpis mattis. In non luctus ex. Pellentesque sapien justo, mollis ut fringilla non, sollicitudin sit amet metus. </p>
<p><strong>Step 3.</strong> Sed ac sagittis nunc. Aenean facilisis pretium enim, ut facilisis libero bibendum et. Fusce vel quam quis libero tincidunt scelerisque id non risus. Sed eu mauris libero. Morbi et malesuada lacus. Pellentesque in leo varius, lacinia elit vitae, facilisis ante. Nunc hendrerit, sapien nec accumsan pretium, mi ex ultricies erat, vitae posuere diam purus quis nisl. Nunc hendrerit tempor leo nec malesuada.</p>
<p><strong>Step 4.</strong> Sed vitae ornare mi. Vivamus vestibulum rutrum magna quis iaculis. Integer eget leo viverra, semper tellus sit amet, bibendum nulla. Aliquam cursus luctus tortor eget aliquet. Fusce cursus tellus in lectus tincidunt, ac tempus orci malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae ornare mi. Vivamus vestibulum rutrum magna quis iaculis. Integer eget leo viverra, semper tellus sit amet, bibendum nulla. Aliquam cursus luctus tortor eget aliquet. </p>
<p><strong>Step 5. </strong>Ut massa est, accumsan eget augue in, rhoncus tristique dui. Integer id eleifend libero, ut tempus quam. Maecenas eros eros, aliquet ut mauris vitae, lacinia auctor augue. Mauris at est <strong>nunc</strong>.</p>]]></instructions>
          <youtubeVideoLink><![CDATA[[
  "<iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/3QUtVOWmuq8?feature=oembed\" frameborder=\"0\" gesture=\"media\" allowfullscreen></iframe>"
]]]></youtubeVideoLink>
          <equipmentNeeded><![CDATA[<ul>
<li>Blender</li>
<li>Grill Pan</li>
</ul>]]></equipmentNeeded>
          <tryRecipes><![CDATA[umb://document/d14f586735e34546acd603d70ff20630,umb://document/01c9e05465f442b78e62a98be06f1535,umb://document/6314bb292df84f80bcf8573bc416164a]]></tryRecipes>
        </recipe>
        <recipe id="1198" key="01c9e054-65f4-42b7-8e62-a98be06f1535" parentID="1176" level="4" creatorID="0" sortOrder="1" createDate="2017-10-30T19:42:20" updateDate="2017-10-30T19:42:43" nodeName="Uttapa" urlName="uttapa" path="-1,1103,1172,1176,1198" isDoc="" nodeType="1161" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1160" nodeTypeAlias="recipe">
          <recipeImage><![CDATA[umb://media/b45fc44f64e948a7a017673082853153]]></recipeImage>
          <header><![CDATA[Uttapa]]></header>
          <headerDescription><![CDATA[Uttapa]]></headerDescription>
        </recipe>
      </breakfast>
      <breakfast id="1177" key="d1e23e5d-4ff6-4090-8e88-5217063991ce" parentID="1172" level="3" creatorID="0" sortOrder="1" createDate="2017-10-28T12:27:58" updateDate="2017-11-02T14:40:40" nodeName="Salads" urlName="salads" path="-1,1103,1172,1177" isDoc="" nodeType="1174" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1173" nodeTypeAlias="breakfast">
        <metadata><![CDATA[{
  "title": "",
  "description": "",
  "urlName": "",
  "noIndex": false
}]]></metadata>
        <homePageFeaturedRecipes><![CDATA[umb://document/d14f586735e34546acd603d70ff20630,umb://document/01c9e05465f442b78e62a98be06f1535,umb://document/6314bb292df84f80bcf8573bc416164a]]></homePageFeaturedRecipes>
        <popularCategories><![CDATA[umb://document/6314bb292df84f80bcf8573bc416164a]]></popularCategories>
        <categoryName><![CDATA[Salads]]></categoryName>
        <categoryDescription><![CDATA[Salads]]></categoryDescription>
        <categoryImage><![CDATA[umb://media/fc55eff3531c4471964c1b3081731b79]]></categoryImage>
        <categoryMainImage><![CDATA[umb://media/fc55eff3531c4471964c1b3081731b79]]></categoryMainImage>
      </breakfast>
      <breakfast id="1185" key="ae2f2c2e-1484-41a7-b33e-fb21badfb4c8" parentID="1172" level="3" creatorID="0" sortOrder="2" createDate="2017-10-28T19:43:56" updateDate="2017-10-30T19:47:02" nodeName="Soups" urlName="soups" path="-1,1103,1172,1185" isDoc="" nodeType="1174" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1173" nodeTypeAlias="breakfast">
        <metaTitle><![CDATA[Soups]]></metaTitle>
        <metaDescription><![CDATA[Soups]]></metaDescription>
        <metaTags><![CDATA[Soups]]></metaTags>
        <categoryName><![CDATA[Soups]]></categoryName>
        <categoryDescription><![CDATA[Soups]]></categoryDescription>
        <categoryImage><![CDATA[umb://media/8f68b8ec002249edbca5334d28dc0854]]></categoryImage>
        <categoryMainImage><![CDATA[umb://media/c601cbc5b04245c5ae53186788ec1f85]]></categoryMainImage>
      </breakfast>
      <breakfast id="1187" key="6214e353-d53b-4959-8fe5-c88f2b8322e3" parentID="1172" level="3" creatorID="0" sortOrder="3" createDate="2017-10-29T19:20:08" updateDate="2017-10-29T19:20:08" nodeName="Main Dish" urlName="main-dish" path="-1,1103,1172,1187" isDoc="" nodeType="1174" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1173" nodeTypeAlias="breakfast">
        <metaTitle><![CDATA[Main Dish]]></metaTitle>
        <metaDescription><![CDATA[Main Dish]]></metaDescription>
        <metaTags><![CDATA[Main Dish]]></metaTags>
        <categoryName><![CDATA[Main Dish]]></categoryName>
        <categoryMainImage><![CDATA[umb://media/8f68b8ec002249edbca5334d28dc0854]]></categoryMainImage>
      </breakfast>
      <breakfast id="1188" key="8ef6d3d7-1dfc-473e-bb1c-a142f712dca1" parentID="1172" level="3" creatorID="0" sortOrder="4" createDate="2017-10-29T20:24:58" updateDate="2017-10-29T20:24:58" nodeName="Malvani Dishes" urlName="malvani-dishes" path="-1,1103,1172,1188" isDoc="" nodeType="1174" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1173" nodeTypeAlias="breakfast">
        <metaTitle><![CDATA[Malvani Dishes]]></metaTitle>
        <metaDescription><![CDATA[Malvani Dishes]]></metaDescription>
        <metaTags><![CDATA[Malvani Dishes]]></metaTags>
        <categoryName><![CDATA[Malvani Dishes]]></categoryName>
        <categoryDescription><![CDATA[Malvani Dishes]]></categoryDescription>
        <categoryImage><![CDATA[umb://media/ca70e26410eb44208ed853ce239519b6]]></categoryImage>
        <categoryMainImage><![CDATA[umb://media/ca70e26410eb44208ed853ce239519b6]]></categoryMainImage>
        <recipe id="1189" key="6314bb29-2df8-4f80-bcf8-573bc416164a" parentID="1188" level="4" creatorID="0" sortOrder="0" createDate="2017-10-29T20:26:05" updateDate="2017-10-29T20:26:05" nodeName="Kombadi Wade" urlName="kombadi-wade" path="-1,1103,1172,1188,1189" isDoc="" nodeType="1161" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1160" nodeTypeAlias="recipe">
          <recipeImage><![CDATA[umb://media/8f68b8ec002249edbca5334d28dc0854]]></recipeImage>
          <header><![CDATA[Kombadi Wade]]></header>
          <headerDescription><![CDATA[Kombadi Wade]]></headerDescription>
        </recipe>
        <recipe id="1190" key="7706c67f-c5bd-4822-b744-da78229951f2" parentID="1188" level="4" creatorID="0" sortOrder="1" createDate="2017-10-30T12:37:20" updateDate="2017-10-30T19:52:22" nodeName="Prawns Tawa Fry" urlName="prawns-tawa-fry" path="-1,1103,1172,1188,1190" isDoc="" nodeType="1161" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1160" nodeTypeAlias="recipe">
          <recipeImage><![CDATA[umb://media/f18aa4cca52e4c6193bfc5144715bc52]]></recipeImage>
          <header><![CDATA[Prawns Tawa Fry]]></header>
          <headerDescription><![CDATA[Prawns Tawa Fry]]></headerDescription>
        </recipe>
      </breakfast>
    </categories>
    <favoriteRecipes id="1193" key="33723349-a6d4-463e-ba5a-c6a8267eb06b" parentID="1103" level="2" creatorID="0" sortOrder="8" createDate="2017-10-30T14:14:39" updateDate="2017-11-02T14:59:24" nodeName="Favorites" urlName="favorites" path="-1,1103,1193" isDoc="" nodeType="1192" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1191" nodeTypeAlias="favoriteRecipes">
      <featuredRecipeList><![CDATA[umb://document/d14f586735e34546acd603d70ff20630,umb://document/6314bb292df84f80bcf8573bc416164a,umb://document/7706c67fc5bd4822b744da78229951f2]]></featuredRecipeList>
      <popularCategories><![CDATA[umb://document/979193be4c8b443c962fcd02f7519ccd,umb://document/ae2f2c2e148441a7b33efb21badfb4c8,umb://document/d1e23e5d4ff640908e885217063991ce]]></popularCategories>
      <homePageFeaturedRecipes><![CDATA[umb://document/d14f586735e34546acd603d70ff20630,umb://document/01c9e05465f442b78e62a98be06f1535,umb://document/6314bb292df84f80bcf8573bc416164a]]></homePageFeaturedRecipes>
    </favoriteRecipes>
    <promotions id="1209" key="0a93139a-4a9f-4734-bc1f-c7d61234a8b0" parentID="1103" level="2" creatorID="0" sortOrder="10" createDate="2017-11-01T17:55:58" updateDate="2017-11-09T14:09:05" nodeName="Promotions" urlName="promotions" path="-1,1103,1209" isDoc="" nodeType="1208" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1207" nodeTypeAlias="promotions">
      <metaTags><![CDATA[Prmotions]]></metaTags>
      <metadata><![CDATA[{
  "title": "",
  "description": "",
  "urlName": "",
  "noIndex": false
}]]></metadata>
    </promotions>
    <search id="1226" key="33d325b7-5288-4c6a-9187-88f0511d3367" parentID="1103" level="2" creatorID="0" sortOrder="11" createDate="2017-11-09T14:09:56" updateDate="2017-11-09T14:09:56" nodeName="Search" urlName="search" path="-1,1103,1226" isDoc="" nodeType="1225" creatorName="Pranali Kitchen" writerName="Pranali Kitchen" writerID="0" template="1224" nodeTypeAlias="search" />
  </home>
</root>